<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagey pageyt</title>
    <style>
        .p{text-align: center;}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
<body>
    <h1 align="center"> tu {{ username }} hai?</h1>
    {% if isActive == 1 %}
        <p align="center">accha to aap active ho</p>
    {% else %}
        <p align="center"> active nahi ho aap ye sapna hai</p>
    {% endif%}
    <p align="center"> aur batao kya haal hai {{ username }}</p>
    {% if five == 5 %}
        <p  class= 'p'> ye panch hai</p>
    {% elif five == 6 %}
        <p class="p"> ye to che ho gya</p>
    {% else %}
        <p class= 'p'> ye panch nahi hai</p>
    {% endif %}
    {% for book in books %}
        <ul type="square">
            <li><img style="width:100px;height:150px" src='{{ book.cover }} '></img> {{book.name}} written by {{ book.author }}</li>
        </ul>
    {% endfor %}
</body>
</html>